p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.wrapper {
  width: 500px;
  outline: 2px solid red;
  margin: 0 auto;
}

.item {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 72px;
}

.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.brown {
  background-color: brown;
}
.tomato {
  background-color: tomato;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.violet {
  background-color: violet;
}
.gray {
  background-color: gray;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
}

.swiper-pagination-bullet-active {
  background-image: url(https://picsum.photos/seed/picsum/200/300);
  background-size: cover;
  background-position: center;
  border-radius: unset;
}
